:root {
    --black1 : #0e0e0e;
    /* --grey1  : #1e1e1e; */
    --grey1  : #0e0e0e;
    --animation-time : 0.3s;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey; 
}

body {
    margin:0;
    background-color: var(--black1);
    /* font-family: 'Noto Sans'; */
    font-family: Ubuntu;
}

.main-container {
    max-width: 800px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.bar {
    font-size: 24px;
}

.top-bar {
    margin-bottom: 30px;
}

.bottom-bar {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bar a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-radius: 20%;
    margin-left: 10px;
}

.bar a:hover{
    background-color: white;
    color: black;
    transition: var(--animation-time);
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
}

.grid>* {
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: white;
    border-radius: 5px;
    /* height: 200px; */
    transition: var(--animation-time);
}

.grid>*:hover{
    background-color: var(--grey1);
    border-style: solid;
    border-color: white;
}

.grid>* img{
    width:100px;
    border-radius: 5px;
    margin-top: 10px;
}

.grid>*:hover .dark{
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.title{
    margin: 8px 0px 8px 0px;
    padding-bottom: 5px;
    width: 100%;
    background-color: var(--grey1);
    /* box-shadow: 0px 0px 0px 2px white inset; */
    color: white;
    font-weight: bold;
    padding-top: 5px;
    font-size: 20px;
}

/* .grid>*:hover .title{ */
    /* box-shadow: none; */
/* } */

.description{
    text-decoration: none;
    /* font-weight: n; */
    font-size: 14px;
    color: var(--black1);
    padding: 20px;
    margin-bottom: 4px;
}

.grid>*:hover .description{
    color: white;
    transition: var(--animation-time);
}

