
[data-component="slideshow"] .slide {
    display: none;
}

[data-component="slideshow"] .slide.active {
    display: block;
    font-family: 'Noto Sans';
    font-size: 32pt;
    text-align: center;
    color: #eee;
    margin-top: 15%;
}

body {
    background: #234;
    overflow: hidden;
}

@media screen and (orientation:portrait){
    [data-component="slideshow"] .slide.active { margin-top: 15%; }
    .char  { font-size: 10em;  }
    .biggy { font-size: 3.5em; }
    .meddy { font-size: 2.5em; }
    .alto  { font-size: 2em;   }
    .smosh { font-size: 1em; }
}


@media screen and (orientation:landscape){
    [data-component="slideshow"] .slide.active { margin-top: 5%; }
    .char  { font-size: 4.5em; }
    .biggy { font-size: 3em;   }
    .meddy { font-size: 2em;   }
    .alto  { font-size: 1.5em; }
    .smosh { font-size: 1em; }
}

